.item-product {
    margin-bottom: 0;
}

.item-product .product-thumb {
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-out 0s;
}

.item-product .product-thumb .product-extra-link {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 0px;
    transform: translateY(-50%);
    z-index: 2;
}

.item-product .product-thumb .product-extra-link a {
    font-family: 'Poppins';
    width: auto !important;
    font-weight: 500;
    padding: 0 20px;
    border-radius: 0px;
    text-align: center;
    text-transform: uppercase;

    visibility: hidden;
    opacity: 0;

    height: 46px;
    line-height: 46px;
    font-size: 16px;
    border: 1px solid #222222;
    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #fff;

    transition: all 0.4s ease-out 0s;
}

.item-product .product-thumb .product-extra-link a::before {
    animation: fa-spin 0.5s infinite steps(20);
    content: "";
    height: 22px;
    width: 22px;
    line-height: 22px;
    transition: none;
    position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -11px;
    border: 1px solid #222;
    border-left-color: transparent;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.item-product .product-thumb .product-thumb-link {
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-out 0s;
}

.item-product .product-thumb .product-thumb-link::before {
    background: rgba(245, 245, 245, .85);
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    transition: all 0.4s ease-out 0s;
}

.item-product .product-thumb .product-thumb-link img:first-child {
    opacity: 1;
    visibility: visible;
    position: static;
    transform: none;
    width: 100%;
    transition: all 0.6s ease-out 0s;
}

.item-product .product-thumb .product-thumb-link img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: rotateY(90deg);
    width: 100%;
    transition: all 0.6s ease-out 0s;
}

.item-product .product-thumb .product-label {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    z-index: 1;
}

.item-product .product-thumb .product-label .sale {
    background: #f598a4;
    float: left;
    display: block;
    height: 19px;
    line-height: 19px;
    padding: 0 9px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

.item-product .product-thumb:hover .product-thumb-link::before {
    opacity: 1;
}

.item-product .product-thumb:hover .product-thumb-link img:last-child {
    transform: rotateY(0);
    opacity: 1;
}

.item-product .product-thumb:hover .product-extra-link a {
    visibility: visible;
    opacity: 1;
}

.item-product .product-info {
    padding-top: 24px;
    position: relative;
    margin-bottom: -6px;
}

.item-product .product-info .product-title {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 8px;
}

.item-product .product-info .product-title a {
    color: #303030;
    transition: all 0.4s ease-out 0s;
}

.item-product .product-info .product-title a:hover {
    color: #f598a4;
}

.item-product .product-info .product-price {
    margin: 0 -6px 7px;
    margin-bottom: 0px;
}

.item-product .product-info .product-price .regular-price {
    color: #ccc;
    font-weight: 500;
    margin: 0 6px;
    font-family: "Poppins";
    text-decoration: line-through;
}

.item-product .product-info .product-price .sale-price {
    text-decoration: none;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    margin: 0 6px;
}