.shop-price.range-slider {
    height: 5px !important;
    background: #ebebeb !important;
    margin: 33px 0 30px !important;
}

.shop-price .range-slider__thumb {
    height: 16px;
    width: 16px;
    background-color: #f598a4 !important;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.shop-price .range-slider__range{
    background-color: #f598a4;
    
}


 .widget_price_filter .price_slider_amount {
    text-align: left;
    font-size: 14px;
    line-height: 40px;
    color: #303030;
}

.widget_price_filter .price_slider_amount .button {
    float: right;
    font-size: 14px;
    letter-spacing: 1.6px;
    height: 46px;
    line-height: 46px;
    border: none;
    padding: 0 25px;
    text-align: center;
    background-color: #f598a4;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    border-radius: 0px;
    text-transform: uppercase;
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
}
 

.woocommerce-product-search input[type=text] {
    border: 1px solid #cccccc;
    height: 60px;
    line-height: 64px;
    padding: 0 20px;
    display: block;
    width: 100%;
    color: #303030;
}

.widget_product_search a {
    position: absolute;
    font-size: 20px;
    padding: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    background: transparent;
    border: none;
    z-index: 1;
}

.widget-product-list .item:not(:last-child) {
    margin-bottom: 20px;
}

.widget-product-list .item .post-info .wrap-rating {
    margin: 9px 0 10px;
}
.wrap-rating {
    line-height: 12px;
}

.product-rate {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}



