.title8,
.title12,
.title14,
.title16,
.title18,
.title24,
.title30,
.title36,
.title40,
.title48,
.title60,
.title90,
.title120,
.title160,
.title100 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.title8 {
  font-size: 8px;
}
.title12 {
  font-size: 12px;
}
.title16 {
  font-size: 16px;
}
.title18 {
  font-size: 18px;
}
.title24 {
  font-size: 24px;
}
.title30 {
  font-size: 30px;
}
.title36 {
  font-size: 36px;
}
.title40 {
  font-size: 40px;
}
.title48 {
  font-size: 48px;
}
.title60 {
  font-size: 60px;
}
.title90 {
  font-size: 90px;
}
.title120 {
  font-size: 120px;
}
.title160 {
  font-size: 160px;
}
.title100 {
  font-size: 100px;
}