@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;
}




@layer components {
  .transition-main {
    @apply transition-all duration-[0.4] ease-out;
  }

  a {
    @apply relative;
  }

  .container-custom {
    @apply min-[768px]:max-w-[750px] min-[992px]:max-w-[970px] min-[1200px]:max-w-[1170px]  min-[1323px]:max-w-[1323px] relative w-full px-[15px] mx-auto
  }



  .px-15 {
    @apply px-[15px]
  }
}

::-webkit-scrollbar-track {
  background-color: red ;
} 

::-webkit-scrollbar-thumb {
  background-color: red; /* Set the background color with alpha to create transparency */
  border-radius: 10px; /* Add some border radius to make it look nicer */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: red; /* Set a lighter background color on hover */
}



.slash-left::before {
  content: "";
  position: absolute;
  width: 40px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  top: 50%;
  left: 50%;
  border-top: 1px solid #303030;
  opacity: 0.6;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: 'Poppins', sans-serif;
}

.desc {
  color: #303030;
  margin: 0;
  line-height: 24px;
}

.button,
a.button {
  height: 46px;
  line-height: 44px;
  display: block;
  padding: 0 20px;
  background: #222;
  text-align: center;
}

.button {
  background-color: transparent;
  border: 1px solid #222;
  line-height: 44px;
  margin-bottom: 10px;
  color: #222;
  transition: all 0.4s ease-out 0s;
  cursor: pointer;
}




.search-form {
  max-width: 570px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  position: relative;
  border-radius: 0px;
  background: #fff;
}

.search-form input[type="text"] {
  height: 60px;
  display: block;
  border: none;
  outline: none;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -o-flex-grow: 1;
  padding: 0 30px;
  background: transparent;
}


.search-form button {
  position: absolute;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  right: 0;
  margin: -1px;
  font-size: 26px;
}

.live-search-on.active .list-product-search {
  opacity: 1;
  visibility: visible;
  margin-top: 1px;
}

.item-search-pro {
  border-bottom: 2px dotted #eee;
  display: table;
  padding: 10px 0;
  width: 100%;
}

.item-search-pro > div.search-ajax-thumb {
  width: 50px;
}

.item-search-pro > div {
  display: table-cell;
  vertical-align: middle;
}

.product-thumb {
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
}

.product-thumb-link {
  display: block;
  position: relative;
  overflow: hidden;
}

.product-thumb img:first-child {
  opacity: 1;
  visibility: visible;
  position: static;
  transform: none;
}


.product-thumb-link img {
  width: 100%;
  transition: all 0.6s ease-out 0s;
  -webkit-transition: all 0.6s ease-out 0s;
}

.item-search-pro > div.search-ajax-title {
  padding: 0 10px;
}

.popup-content {
  top: 30% !important;
  left: 50% !important;
  transform: translate(-50%, -34%);
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
}
